.center{
    margin: auto;
    width: 30%;
    padding: 10px;
    background-color: cornsilk;
}
.subscribe{
    background-color: cornsilk;
}
section{
    padding: 0 20px;
    align-items: center;
}
p{
    text-align: center;
}

section input[type="text"]{
  height: 40px;
  width: 80%;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 24px;
  padding: 10px 10px;
  display: block;
  border: none;
}

.btn-primary {
    background-color: hotpink;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
}
span{
    font-size: 20px;
}
